<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup point</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://miro.medium.com/max/1100/1*qYUvh-EtES8dtgKiBRiLsA.webp" />
  <ion-card>
    <ion-card-content>
      <p>Address: Fake street, 111</p>
      <p>Complement: Alto 222</p>
      <p>Neighborhood: abc</p>
      <p>Zip code: 180015</p>
      <p>City name: State</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button color="success" size="full" routerLink="/pickup-calls"
    >Create Pickup Call</ion-button
  >
</ion-content>
